@font-face { 
	font-family: 'megabold';
		src: url('/assets/bowler.ttf') format('truetype');
}

body {
	margin: 0;
}

a.link {
    display: flex;
    align-items: center;
    color: #8cb6ff;
    font-size: 14px;
    text-decoration: none;
    gap: 3px;
}

a.bannerLink {
    color: #8cb6ff;
}
a.bannerLink:visited {
    color: #8cb6ff;
}
a.bannerLink:hover {
    color: #dbebfd;
}
a.footerLink {
    color: #8cb6ff;
}
a.footerLink:visited {
    color: #8cb6ff;
}
a.footerLink:hover {
    color: #dbebfd;
}

.bannerButs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.appFooter {
    background-color: #181a1b;
}

.appButton {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #5083b9;
    border-width: 0;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px;
    transition: background-color 0.1s ease-in-out;
}

.bannerButton {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* bannerButton for Tablets & Desktop*/
@media only screen and (min-width: 640px) {
    .bannerButton {
        width: unset;
        margin-left: unset;
        margin-right: unset;
    }
}

.noSelect {
  -webkit-user-select: none; /* for Safari */
  -moz-user-select: none;    /* for Firefox */
  -ms-user-select: none;     /* for Internet Explorer/Edge */
  user-select: none;         /* standard syntax */
/*  -webkit-tap-highlight-color: transparent;*/
}

.appButton:hover {
    background-color: #4474a6;
}

.appButton:active {
    background-color: #5589bf;
}

.appCheckUsButton {
    margin-left: 10%;
} 

.appHeader {
    display: block;
	min-height: 80px;
    width: 90%;
}

.appBanner {
    display: flex;
    flex-direction: column;
    background-color: #1c1f20;
}

.appMain {}

/* Catalog Nav&Main: Mobile */
.appCatalog {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.01fr 1fr;
	text-align: center;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.appCatalogNav {
	grid-area: 1/1/2/2;
}

.appCatalogMain {
	grid-area: 2/1/3/2;
	display: grid;
	grid-template-columns: 1fr;
    gap: 5px;
}

/* Catalog Nav&Main: Tablets, Desktop */
@media only screen and (min-width: 640px) {
	.appCatalog {
		grid-template-columns: 0.01fr 1fr;
		grid-template-rows: 1fr;
	}

	.appCatalogNav {
		grid-area: 1/1/2/2;
	}

	.appCatalogMain {
		grid-area: 1/2/2/3;
	}
}


/* Catalog Main: Desktop */
@media only screen and (min-width: 981px) {
	.appCatalogMain {
		grid-template-columns: 1fr 1fr 1fr;
	}
    .app-aboutus-sliderCard {
        flex-direction: row;
    }
}

.appCatalogCardWrapper {
    border-width: 1px;
    border-color: #181a1b;
    border-style: solid;
    background-color: #f5f5f5;
    /*border-radius: 5px;*/
    padding: 12px;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
    cursor: default;
}

.appCatalogCardWrapper:hover {
    background-color: #e8e8e8;
}

.appCatalogCardPreview {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.appSlider-aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.appSlider-trustUs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.app-aboutus-sliderCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    border-radius: 12px;
    width: 100%;
    overflow: scroll;
    margin: 10px;
    text-align: center;
}

.app-trustus-sliderCard {
    width: 128px;
    margin: 10px;
}

#trustUs-sliderCard-0 { display: block; }
#trustUs-sliderCard-1 { display: block; }
#trustUs-sliderCard-2 { display: block; }
#trustUs-sliderCard-3 { display: block; }
#trustUs-sliderCard-4 { display: none; }
#trustUs-sliderCard-5 { display: none; }

/* trustUs sliderCards: Tablets & Desktop */
@media only screen and (min-width: 640px) {
    #trustUs-sliderCard-4 { display: block; }
}

@media only screen and (min-width: 981px) {
    #trustUs-sliderCard-5 { display: block; }
}


.aboutus-sliderCard-preview {
    width: 64px;
    height: 64px;
    margin-left: 10px;
    margin-top: 10px;
}

.trustus-sliderCard-preview {
    width: 100%;
    height: auto;
}

.contactCard-preview {
    width: 100%;
    height: auto;
}

.sliderTitle {
    margin: 10px;
	font-family: 'megabold';
	font-size: 30px;
	color: #151515;
}

.sliderSubTitle {
	font-size: 20px;	
	color: #404040;
}

/* Slider: Tablets */
@media only screen and (min-width: 640px) {
	.appCatalogMain {
		grid-template-columns: 1fr 1fr;
	}
	.appSlider-aboutUs {
		flex-direction: row;
        align-items: unset;
	}
    .app-aboutus-sliderCard {
        width: 25%;
    }
    .sliderTitle {
        font-size: 11px;
    }
    .sliderSubTitle {
        font-size: 9px;	
    }
/*    .appSliderCardPreview {
        margin-top: 0px;
    }
    */
}

/* Slider: Desktop */
@media only screen and (min-width: 981px) {
/*    .app-aboutus-sliderCard {
        flex-direction: row;
    }
*/
    .sliderTitle {
        font-size: 16px;
    }
    .sliderSubTitle {
        font-size: 13px;	
    }
}

#glonassElement, #videoElement {
	display: grid;
	grid-template-rows: 0.1fr 1fr auto;
	grid-template-columns: 1fr;
	column-gap: 10px;
}

#glonassElementText, #videoElementText {
	grid-area: 3/1/4/2;

}
#glonassElementCard, #videoElementCard {
	grid-area: 2/1/3/2;
}

/* Tablets */
@media only screen and (min-width: 640px) {
	#glonassElement, #videoElement {
		grid-template-rows: 0.1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
	#glonassElementText, #videoElementText {
		grid-area: 2/2/4/4;
	}
	#glonassElementCard, #videoElementCard {
		grid-area: 2/1/4/2;
	}
}

#glonassElementCardImg, #videoElementCardImg {
	width: 80%;
}
#glonassElementCardTitle, #glonassElementCardPrice, #videoElementCardTitle, #videoElementCardPrice {
	text-align: center;
}
#glonassElementCardBut, #videoElementCardBut {
	display: block;
	width: 64%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


#mapsElement {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    gap: 10px;
}

#contacts1Title{
    grid-area: 1/1/2/2;
}
#contacts2Title{
    grid-area: 3/1/4/2;
}
#contacts1Element {
    grid-area: 2/1/3/2;
}
#contacts2Element {
    grid-area: 4/1;
}

@media only screen and (min-width: 640px) {
    #mapsElement {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
    }
    #contacts2Title{
        grid-area: 1/2/2/3;
    }
    #contacts2Element {
        grid-area: 2/2/3/3;
    }
}


/*
@media only screen and (min-width: 981px) {
	#mapsElement {
		grid-template-columns: 1fr;
		grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
	}
}
*/

.sectionElement {
 /*   margin-top: 50px;
    margin-bottom: 50px;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.subSectionElement {
    margin-top: 10px;
    margin-bottom: 10px;
}



.centrElement {
	margin-left: auto;
	margin-right: auto;
}

.defaultWidthElement {
	width: 80%;
}

.contactCard {
    width: 33%;
}

.contactFields {
    display: flex;
    flex-direction: column;
}



.appElement:not(:last-child){
	margin-bottom: 30px;
}

.elTitle {
    overflow-wrap: break-word;
	font-family: 'megabold';
	font-size: 30px;
	color: #151515;
}

.elSubTitle1 {
	font-size: 20px;	
	color: #404040;
}

.elTitleWhite {
	color: white;
}

.elSubTitle1White {
	color: white;
}

.appContact {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	text-align: center;
	background-color: #000000a1;
}

.appContactWrapper {
	display: flex;
	flex-direction: column;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	gap: 16px;
  	border-radius: 10px;
  	padding: 16px;
    width: 100%;
	min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

/* appContactWrapper: Tablets */
@media only screen and (min-width: 640px) {
    .appContactWrapper {
        min-height: 90vh;
        width: 80vh;
    }
}

/* appContactWrapper: Desktop*/
@media only screen and (min-width: 981px) {
    .appContactWrapper {
        width: 80vh;
    }
}

#el-about {
    background-color: #1c1f20;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/assets/truck-pic.jpg);
    padding-top: 5%;
    padding-bottom: 3%;
}
#el-contacts {
    background-color: #f3f3f3;
}

#banner-0 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/assets/truck-pic-0.jpg");
}

/* Footer Floors: Mobile */
.footerFloor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
/*    color: white;*/
}
.footerText {
    color: white;
}
#floor-0-number {
    margin-left: 0;
    margin-right: 0;
}

/* Footer floor: Tablets, Desktop */
@media only screen and (min-width: 640px) {
    .footerFloor {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #floor-0-number {
        margin-left: auto;
        margin-right: 14px;
    }
}

/* Footer Floors: Desktop */
@media only screen and (min-width: 981px) {
}

#floor-3 {
    flex-direction: column;
}


#headerLogo {
    height: 40px;
}

#headerSwitcher {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    margin-left: auto;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.headerButsWrapper {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    opacity: 100%;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: absolute;
    background-color: #f3f3f3;
    width: 100%;
    left: 0;
}

.headerButsWrapperCollapsed {
    max-height: 0px;
    opacity: 0%;
}

.headerBut {
    border: none;
    background: none;
    font-size: large;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.1s;
}

.logoAndSwitcherWrapper {
    display: flex;
    align-items: center;
    min-height: 80px;
}

.headerBut:hover {
    background: #6a6a6a;
}
.headerBut:active {
    background: #7a7a7a;
}

@media only screen and (min-width: 981px) {
    #headerLogo {
        height: auto;
    }
    #headerSwitcher { 
        display: none;
    }
    .appHeader {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
	.headerButsWrapper {
        flex-direction: row;
		margin-left: auto;
        position: static;
        background-color: white;
        width: auto;
	}
}

.hide {
	display: none;
}

.overflow-hide {
    height: 100vh;           /* Prevents body height reflow */
    overflow-y: hidden;      /* Disable vertical scrolling on body */
    /*padding-right: 15px;*/     /* Optional: avoid layout shift due to scrollbar disappearance */
}

